<div class="main-div" id="projects">
    <h1>Projects</h1>
<div class="row">
    <div class="project-list col-lg-6">
        <ng-container *ngFor="let project of projects;">
            <app-single-project [project]="project"></app-single-project>
        </ng-container>
    </div>
    <div class="project-list col-lg-6">
        <ng-container *ngFor="let project of projects2;">
            <app-single-project [project]="project"></app-single-project>
        </ng-container>
    </div>
</div>
</div>
