<div class="grid-section">

    <div class="row justify-content-md-center" >
        <div class="col-2 tech-item" *ngFor="let logo of logos1;">
            <img src={{logo}}>
        </div>
    </div>

    <div class="row justify-content-md-center ">
        <div class="col-2 tech-item" *ngFor="let logo of logos2;">
            <img src={{logo}}>
        </div>
    </div>

    <div class="row justify-content-md-center ">
        <div class="col-2 tech-item" *ngFor="let logo of logos3;">
            <img src={{logo}}>
        </div>
    </div>

    <div class="row justify-content-md-center ">
        <div class="col-2 tech-item" *ngFor="let logo of logos4;">
            <img src={{logo}}>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-2 tech-item" *ngFor="let logo of logos5;">
            <img src={{logo}}>
        </div>
    </div>
</div>
