p {
    color: white;
    font-size: 2rem;
}
.tech-item {
    color: white;
    font-size: .9rem;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    /* Glas Effect */
    background: rgba(255, 255, 255, 0.438);
    border-radius: 26px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.tech-item:hover {
    transform: scale(1.5);
    transition: transform 0.7s ease; 
}

.tech-item img {
    width: 3rem;
    object-fit: scale-down;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.grid-section {
    margin-bottom: 5rem;
}

@media (max-width: 744px) {
    .tech-item {
        width: 3.5rem;
        height: 3.5rem;
    }
    .tech-item img {
        width: 2rem;
    }

    
}
