<div class="main-div">
  <div class="title">TravelGo - Backend</div>

  <div class="row justify-content-between">
    <div class="col-lg-5 project-description-container">
      <div class="description-box">
        <div class="description">
          The TravelGo backend, built on Node.js and Express, serves as the
          backbone of the platform. Utilizing PostgreSQL for a reliable
          relational database, it efficiently manages data storage and
          retrieval. JSON Web Tokens (JWT) enhance security, enabling secure
          user authentication and authorization. The integration of Swagger
          simplifies API documentation and testing, ensuring a seamless
          developer experience. This robust backend architecture powers
          TravelGo, providing the necessary foundation for a smooth and secure
          travel booking system.

          <div class="top-link">
            Source code:
            <a
              href="https://github.com/movinsilva/TravelGo-AdminPanel"
              target="_blank"
              >https://github.com/movinsilva/TravelGo-AdminPanel</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6" >
      <div class="centering">
        <img width="80%" src="./assets/projects/travelgo/backend.png" />
      </div>
    </div>
  </div>

  <div class="row justify-content-center tech-box">
    <div class="col-2 tech-item" *ngFor="let logo of logos1">
      <img src="{{ logo }}" />
    </div>
  </div>
</div>
