<a href={{project.link}} target="_blank">
    <div class="project-container">
        <div class="row">
            <div class="col-md-8 col-sm-10">
                <div class="title">{{project.title}}</div>
                <div class="name">{{project.name}}</div>
                <div class="description">{{project.description}}</div>
                <div class="technology">{{project.technology}}</div>
            </div>
            <div class="arrow col-md-4 col-sm-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</a>
