<a href={{project.link}}>
    <div class="project-container">
        <div class="row">
            <div class="col-md-8 col-sm-10">
                <div class="title">{{project.title}}</div>
                <div class="name">{{project.name}}</div>
                <div class="description">{{project.description}}</div>
                <div class="technology">{{project.technology}}</div>
            </div>

        </div>
        <button class="circle-button" [ngClass]="{'animated-project': project.applyAnimation}">
            <span class="arrow">&#10140;</span>
        </button>
    </div>
</a>
