<div class="main-div">
  <div class="title">e-Go - Desktop Applicatiion</div>

  <div class="row justify-content-between">
    <div class="col-lg-5 project-description-container">
      <div class="description-box">
        <div class="description">
          e-go's desktop application, built on .NET Core and WinForms, offers a
          seamless and efficient user experience. It provides businesses with
          remote monitoring, project management, and HR support in a
          user-friendly interface. The use of .NET Core and WinForms guarantees
          top-notch performance, making e-go's desktop application a reliable
          tool for businesses seeking productivity and growth.

          <div class="top-link">
            Source code:
            <a
              href="https://github.com/movinsilva/HarithaHRMS"
              target="_blank"
              >https://github.com/movinsilva/HarithaHRMS</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <ng-image-slider
        [images]="imageObject"
        #nav
        [imageSize]="{ width: '100%', height: '70%', space: '50px' }"
        [manageImageRatio]="true"
        [infinite]="true"
        [autoSlide]="true"
        [animationSpeed]="3"
      ></ng-image-slider>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2 tech-item" *ngFor="let logo of logos1">
      <img src="{{ logo }}" />
    </div>
  </div>
</div>
