<div class="main-div">
  <div class="row-container">
    <div class="title">e-Go HRMS</div>
  </div>
  <div class="video text-center">
    <app-video></app-video>

    <div class="mouse_scroll">
        <a href="#ego-2">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </a>
    </div>

  </div>

  

  <div class="row justify-content-between mt-md-5">
    <div class="col-lg-8 project-description-container" id="ego-2">
      <div class="row-container">
        <div class="enter-text">e-Go is a Human Resource Management System!!</div>
      </div>

      <div class="description-box">
        <div class="description">
          e-go is a comprehensive business solution designed to help companies
          achieve growth, improve employee productivity, and adapt to the
          challenges posed by the pandemic era. This all-in-one platform offers
          a range of features, including remote monitoring of employee activity,
          project management tools, and HR support. With e-go, businesses can
          enjoy real-time screen captures, daily reports on employee activity,
          and performance reviews to enhance productivity. The platform also
          simplifies project management with progress tracking and a handy
          Project History feature. It facilitates smart decision-making with
          individualized work reports, streamlines workflow through easy task
          delegation, and ensures a smooth operation with automated attendance
          logs and leave/time-off management. With e-go, businesses can monitor
          and manage their operations from anywhere, making it the ideal
          solution for companies looking to thrive in today's dynamic
          environment.
        </div>
      </div>

      <div class="row-container">
        <a href="#travelgo-frontend" class="explore-a">
          <button class="explore-button">Check out Desktop app of e-Go</button>
        </a>
      </div>
    </div>
  </div>

  
</div>

<app-hrms-desktop></app-hrms-desktop>
