<div class="col-md-8 offset-md-2">
  <div class="contact-title">Contact Information</div>
  <div class="contact-info">Email:</div>

  <div class="email">
    <a href="mailto:movinpinsara@gmail.com">movinpinsara@gmail.com</a>
  </div>

  <div class="email email-2">
    <a href="mailto:movin@ecodeit.com">movin@ecodeit.com</a>
  </div>

  <div class="contact-info">Connect me with:</div>

  <div class="social-links">
    <a
    href="https://www.linkedin.com/in/movin-silva/"
    target="_blank"
  >
    <img class="social-icons" src="./assets/linkedin.png" /> movin-silva</a
  >
  </div>


  <div class="social-links">
    <a
    href="https://github.com/movinsilva"
    target="_blank"
  >
    <img class="social-icons" src="./assets/github.png" /> movinsilva
  </a>
  </div>
  
</div>
