<div class="main-div">
  <div class="row-container">
    <img height="90px" src="./assets/projects/travelgo/Logo_travelgo.png" />
    <div class="title">TravelGo</div>
  </div>

  <div class="row justify-content-between">
    <div class="col-lg-5 project-description-container">
      <div class="row-container">
        <div class="enter-text">
          This is our 3rd year project on university !!
        </div>
      </div>

      <div class="description-box">
        <div class="description">
          TravelGo is a state-of-the-art software engineering project, and at
          its core, it's a comprehensive train booking system. Our primary goal
          is to revolutionize the way travelers plan and book train journeys.
          We've meticulously designed and developed TravelGo to be a one-stop
          solution for all your train travel needs.

          
        </div>
      </div>

      <div class="row-container">
        <a href="#travelgo-frontend" class="explore-a">
          <button class="explore-button">Explore TravelGo</button>
        </a>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="question">
        What TravelGo consists?
      </div>
      <img class="system-img" width="85%" src="./assets/projects/travelgo/system-text.png" />
    </div>
  </div>

  <div class="row justify-content-center">

  </div>
</div>

<app-travelgo-frontend></app-travelgo-frontend>
<app-travelgo-admin></app-travelgo-admin>
<app-travelgo-backend></app-travelgo-backend>
<app-travelgo-deployment></app-travelgo-deployment>
