<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">

          <div class="timeline timeline-left" >
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img
                    src=".\assets\University_of_Moratuwa_logo.png"
                    class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">2021 - present</span>
                <div class="note-wrap">
                  <h3 class="title h4">
                    Undergraduate - University of Moratuwa (CSE Department)
                  </h3>
                  <p class="description">
                    B.Sc Engineering Undergraduate
                    <br />
                    Specializes in Computer Science and Engineering
                    <br />
                    GPA: 3.85 (Made the dean's list thrice)
                    <br /><br />
                    Volunteered to maintain the CSE Department website
                  </p>
                </div>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>

          <div class="timeline timeline-right">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img src=".\assets\ecode_e.png" class="img" />
                </span>
              </div>
              <div class="content">
                <span class="year">2020 - present</span>
                <div class="note-wrap">
                  <h3 class="title h4">Co-founder - Ecode IT</h3>
                  <p class="description">
                    Ecode IT is a tech startup founded by me and two of my
                    friends. At Ecode IT, we mainly provide enterprise level
                    customized systems including web interfaces, desktop
                    applications and mobile applications. Visit our website at
                    <a href="https://ecodeit.com" target="_blank">Ecode IT</a>
                  </p>
                </div>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>

          <div class="timeline timeline-left" >
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src=".\assets\cima.png" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">2020</span>
                <div class="note-wrap">
                  <h3 class="title h4">CIMA</h3>
                  <p class="description">
                    The Chartered Institute of Management Accountants is the
                    global professional management accounting body based out of
                    the UK. CIMA offers training and qualification in management
                    accountancy and related subjects.
                    <br /><br />
                    Completed the certificate in business accounting level
                  </p>
                </div>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>

          <div class="timeline timeline-right">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src=".\assets\evision.png" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">2020</span>
                <div class="note-wrap">
                  <h3 class="title h4">Intern - eVision Micro Systems</h3>
                  <p class="description">
                    I focused on improving the user experience and visual appeal
                    of Sales Force Automation (SFA) mobile applications. This
                    involves redesigning and enhancing UI components to create a
                    more user-friendly interface. Additionally, I address minor
                    software glitches and bugs to ensure the smooth and
                    error-free functioning of the SFA app.
                  </p>
                </div>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>

          <div class="timeline timeline-left">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src=".\assets\RC-Crest.png" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">2011 - 2019</span>
                <div class="note-wrap">
                  <h3 class="title h4">Student - Royal College, Colombo 07</h3>
                  <p class="description">
                    GCE Advanced Level Examination -
                    <br />
                    3As (Mathematics Stream- Combined Mathematics, Chemistry,
                    Physics)
                    <br /><br />
                    GCE Ordinary Level Examination -
                    <br />
                    9As (English Literature, Commerce)
                  </p>
                </div>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
