<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox">
                              <img src=".\assets\ecode_e.png" class="img">
                             </span></div>
                            <div class="content">
                                <span class="year">2020 - present</span>
                                <div class="note-wrap">

                                    <h3 class="title h4">Co-founder - Ecode IT</h3>
                                <p class="description">
                                    Tristique senectus et netus et malesuada fames. Sit amet consectetur adipiscing elit pellentesque. Felis imperdiet proin fermentum leo vel orci porta non pulvinar. 
                                </p>

                                </div>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src=".\assets\University_of_Moratuwa_logo.png" class="img" /></span></div>
                            <div class="content">
                                <span class="year">2021 - present</span>
                                <div class="note-wrap">
                                    <h3 class="title h4">Undergraduate - University of Moratuwa (CSE Department)</h3>
                                <p class="description">
                                   Tristique senectus et netus et malesuada fames. Sit amet consectetur adipiscing elit pellentesque. Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Erat nam at lectus urna duis convallis. Eget aliquet nibh praesent tristique magna. Interdum posuere lorem ipsum dolor sit amet. Elementum tempus egestas sed sed risus pretium quam. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices.
                                </p>
                                </div>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src=".\assets\cima.png" class="img"></span></div>
                            <div class="content">
                                <span class="year">2020</span>
                                <div class="note-wrap">
                                    <h3 class="title h4">CIMA</h3>
                                <p class="description">
                                    Ornare aenean euismod elementum nisi quis eleifend. Libero id faucibus nisl tincidunt eget nullam non. Suspendisse interdum consectetur libero id faucibus. Adipiscing enim eu turpis egestas pretium. Dignissim convallis aenean et tortor. Dui accumsan sit amet nulla. Duis convallis convallis tellus id interdum.
                                </p>
                                </div>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="" class="img"></span></div>
                            <div class="content">
                                <span class="year">2011 - 2019</span>
                                <div class="note-wrap">
                                    <h3 class="title h4">Student - Royal College, Colombo 07</h3>
                                <p class="description">
                                    Sed blandit libero volutpat sed cras. Adipiscing elit pellentesque habitant morbi tristique senectus et netus et. Aliquam ultrices sagittis orci a. Ipsum nunc aliquet bibendum enim facilisis. Magna ac placerat vestibulum lectus mauris ultrices eros. Proin sagittis nisl rhoncus mattis rhoncus. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Et ultrices neque ornare aenean euismod elementum nisi. Ultricies mi quis hendrerit dolor magna eget est lorem.
                                </p>
                                </div>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
           
                    
                </div>
            </div>
        </div>
    </div>
    </section>