<div class="row text-center main-div">
    <div class="col-6">
        <div class="name">
           Movin Silva 
        </div>
        <div class="row personal justify-content-center">
           <div class="photo-bg col-5"><img class="photo" src="./assets/me.png"></div>
           <div class="col-3 my-auto">
                <div class="row justify-content-start">
                    <div class="social-links"> <img class="social-icons" src="./assets/linkedin.png"> LinkedIn </div>
                    <div class="social-links mt-5"> <img class="social-icons" src="./assets/twitter.png"> Twitter </div>
                </div>
               
           </div>
        </div>
   </div>
   <div class="col-6">
      <app-intro></app-intro>
   </div>
</div>
