.main-div {
    height: 95%;
}

.name {
    margin-top: 200px;
    color: white;
    font-size: 92px;
    letter-spacing: 3px;
    font-weight: bold;
}

.personal {
    margin-top: 15%;
    margin-left: 9%;
}
.photo {
    width: 265px;
    padding: 10px;
}
.photo-bg {
    width: 285px;
    border-radius: 50rem;
    /* Glas Effect */
    background: rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.social-links {
    font-size: 30px;
    color: white;
    text-decoration: none;
} 
.social-links:hover {
    cursor: pointer;
    color: goldenrod;
}

.social-icons {
    width: 32px;
    margin-right: 10px;
    opacity: 0.7;
}
.social-icons:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
}
.cv-button {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    width: 22rem;
    font-weight: 300;

    margin: 6rem auto;

    border: 0.5px solid darkgrey;
    border-radius: 10px;

    /* Glas Effect */
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.cv-button:hover {
    color: goldenrod;
    background: rgba(39, 39, 39, 0.603);
    border: 3px solid goldenrod;
    cursor: pointer;
}


@media (max-width: 1395px) {
    .name {
        font-size: 75px;
    }
    .photo {
        width: 200px;
    }
    .photo-bg {
        width: 220px;
    }
    .social-links{
        font-size: 24px;
    }
    .social-icons {
        width: 24px;
    }
  }

  @media (max-width: 1110px) {
    .name {
        font-size: 45px;
    }
    .photo {
        width: 170px;
    }
    .photo-bg {
        width: 190px;
    }
    .social-links{
        font-size: 20px;
    }
    .social-icons {
        width: 20px;
    }
  }

  @media (max-width: 991.98px) {
    .name {
     margin-top: 45px; 
    }
    .personal {
        margin-top: 3rem;
    }
    .cv-button{
        font-size: 1.3rem;
        width: 17rem;
        margin: 3rem auto 0;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    .social-links {
        margin-bottom: 1rem;
    }
  }