<div class="row text-center main-div" id="landing-page">
    <div class="col-lg-5 col-sm-12 text-center">
        <div class="name">
           Movin Silva 
        </div>
        <div class="row personal justify-content-center">
           <div class="photo-bg col-4"><img class="photo" src="./assets/me.png"></div>
           <div class="col-5 my-auto">
                <div class="row justify-content-start">
                    <a class="social-links" href="https://www.linkedin.com/in/movin-silva-9b8ab01b2/" target="_blank"> <img class="social-icons" src="./assets/linkedin.png"> LinkedIn</a>
                    <a class="social-links mt-md-5" href="https://twitter.com/Movin__Silva?t=HUyRZtAc4zqz-lK1c_W6Hw&s=09" target="_blank"> <img class="social-icons" src="./assets/twitter.png"> Twitter </a>
                    <a class="social-links mt-md-5" href="https://github.com/movinsilva" target="_blank"> <img class="social-icons" src="./assets/github.png"> Github </a>
                </div>
               
           </div>
        </div>

        <a href="https://read.cv/movin" target="_blank">
         <div class="cv-button">
            Check out my CV here
         </div>
        </a>
   </div>
   <div class="col-lg-7 col-sm-12">
      <app-intro></app-intro>
   </div>
</div>
